/* Not sure what else I could really do as I feel like it already looks pretty decent on a mobile device due and I already had a vertical navigation as I was trying to emulate a Wikipedia page.  */

@import "style.css";


body {
    font-size: 18px;
}

nav {
    position: static;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
}


footer {
    grid-column: 1;
}

