:root{
   --page-width: 960px
   }

body {
    background-color: white;
}
* {
    margin: 0;
    padding: 40;
    box-sizing: 900;
}

body {
 
}

header { 
    width: 960px;
    margin: 0px auto;
    /* background-color: white; */
    padding: 30px
}

header h1{
    text-align: center;
}

nav {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    margin-left: -30px;
}

nav ul {
 list-style: none;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr
 gap: 10px;
 justify-items: center;
 margin: 200;
 padding: 200;
}
