:root{
   --page-width: 960px;
   --primary-color: #005030;
   --border-color: #a2a9b1;
   --background-color: #f8f9fa;
   --font-main: Georgia, "Linux Libertine", serif;
   }

   @import url('https://fonts.googleapis.com/css2?family=Linux+Libertine&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    grid-column: 1;
    grid-row: 1 / 4;
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 200px;
    position: sticky;
    background-color: var(--background-color);
    top: 20px;
}

nav::before {
    content: "Contents";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

nav ul {
 list-style: none;
}


nav ul li {
    padding: 2px 0;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

figure.infobox {
    float: right;
    clear: right;
    margin: 0 0 20px 25px;
    padding: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    width: 320px;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
}

figure.infobox img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 6px;
    border: none;
    float: none;
    padding: 0;
    
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 6px;
}

.image-gallery img:first-child {
    grid-column: 1 /3;;
}

.image-gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border: none;
    float: none;
    padding: 0;
    margin: 0;
}

figure.infobox figcaption {
    color: #54595d;
    font-size: 12px;
    padding: 4px 2px;

}

.article-into {
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

body {
    background-color: white;
    font-family:var(--font-main);
    line-height: 1.6;
    font-size: 16px;
    color: #202122;
}

.page-wrapper {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-items: start;
    column-gap: 30px;
}

header { 
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0 10px 0;
    margin-bottom: 20px;
}

header h1{
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    font-family: var(--font-main);
    border-bottom: 1px solid var(--border-color);
    color:black;
}



main {
    line-height: 1.7;
    grid-column: 2;
    grid-row: 2;
    min-width: 0;
}

main > p:first-child {
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

p {
    margin-bottom: 15px;
}

main ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

main ul li {
    padding: 3px 0;
}

img {
    float: right;
    margin: 0 0 20px 20px;
    border: 1px solid var(--border-color);
    padding: 5px;
    background-color: var(--background-color);
    display: block;
}

main a {
    color: var(--primary-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:visited {
    color: #1803ff;
}

mark {
    background-color: transparent;
    font-weight: bold;

}

footer {
    grid-column: 1 /3;
    grid-row: 4;
    border-top: 1px solid var(--border-color);
    margin-top: 30px;
    padding: 15px 0;
    font-size: 12px;
    color: #54595d;
    text-align: center;
    clear: both;
}