:root{
   --page-width: 960px
   }

body {
    background-color: white;
}
* {
    margin: 0;
    padding: 40;
    box-sizing: 900;
}

body {

}

header { 
    width: 960px;
    margin: 0px auto;
    /* background-color: white; */
    padding: 30px
}